
################################################################################################
###   IDEs:  JetBrains  ------------------------------------------------------------------------

.idea

cmake-build-*/
out/
.idea_modules/

*.iml
*.ipr

################################################################################################
###   IDEs:  Visual Studio Code  ---------------------------------------------------------------

.vscode

################################################################################################
###   Git  -------------------------------------------------------------------------------------

.git

